@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

.parent {
  background-color: white;
  width: 319px;
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.drawer {
  background: top/cover url("../images/drawers.jpg") no-repeat;
  min-height: 14rem;
  -webkit-filter: brightness(110%) contrast(90%);
          filter: brightness(110%) contrast(90%);
  border-radius: 0.5rem 0.5rem 0 0;
}

main,
footer {
  padding: 0.6rem 2rem;
}

main > * {
  margin: 0.5rem;
}

h3 {
  color: #48556a;
}

main p {
  color: #6d7f97;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6vh;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #48556a;
  padding: 1rem 2rem;
}

footer .avatar {
  display: block;
  background: center/cover url("../images/avatar-michelle.jpg") no-repeat;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #ecf2f8;
}

footer .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  margin-left: 1rem;
}

footer .info .date {
  color: #9eafc2;
}

.share:hover .options,
.share:hover .options:before {
  background: #48556a;
}

.share:hover path {
  fill: white;
}

@media (min-width: 375px) {
  .share-options .icon {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #ecf2f8;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .share-options .icon:hover {
    background: #6d7f97;
  }
  .share-options .icon .options {
    position: absolute;
    z-index: -1;
    padding: 33px 18px;
    border-radius: 0 0 0.5rem 0.5rem;
    opacity: 0;
    pointer-events: none;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: row;
        flex-direction: row;
    height: 6vh;
    visibility: hidden;
  }
  .share-options .icon .options.active {
    visibility: visible;
  }
  .share-options .icon span {
    color: #9eafc2;
    padding: 0 0.5rem 0 3.6rem;
    font-size: 1rem;
    letter-spacing: 5px;
  }
  .share-options .icon .socials {
    padding-right: 0.5rem;
    width: 28px;
  }
  .share-options .icon:hover .options {
    padding-right: 4.7rem;
    right: -2rem;
    opacity: 1;
    pointer-events: auto;
  }
}

@media (min-width: 760px) {
  .parent {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .side-one {
    width: 909px;
  }
  .side-one .drawer {
    background-position: top left;
    min-height: 19rem;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .side-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .share-options .icon {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #ecf2f8;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .share-options .icon:hover {
    background: #6d7f97;
  }
  .share-options .icon .options {
    position: absolute;
    z-index: -1;
    padding: 33px 18px;
    border-radius: 0 0 0.5rem 0.5rem;
    opacity: 0;
    pointer-events: none;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: row;
        flex-direction: row;
    height: 6vh;
    visibility: hidden;
  }
  .share-options .icon .options.active {
    visibility: visible;
  }
  .share-options .icon span {
    color: #9eafc2;
    padding: 0 0.5rem 0 3.6rem;
    font-size: 1rem;
    letter-spacing: 5px;
  }
  .share-options .icon .socials {
    padding-right: 0.5rem;
    width: 28px;
  }
  .share-options .icon:hover .options {
    padding-right: 4.7rem;
    right: -2rem;
    opacity: 1;
    pointer-events: auto;
  }
  .share-options .icon .options {
    top: -4rem;
    z-index: 1;
    padding: 10px 18px;
    border-radius: 0.5rem;
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .share-options .icon span {
    padding: 0 0.5rem 0 0.5rem;
    font-size: 0.6rem;
  }
  .share-options .icon .socials {
    width: 20px;
  }
  .share-options .icon:hover .options {
    padding-right: 1rem;
    right: -4.5rem;
  }
  .share-options .icon .options:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 50%;
    bottom: -6px;
    -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
/*# sourceMappingURL=style.css.map */