@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

// colors

$Very_Dark_Grayish_Blue: #48556a;
$Desaturated_Dark_Blue: #6d7f97;
$Grayis_Blue: #9eafc2;
$Light_Grayish_Blue: #ecf2f8;


// fonts

$font: 'Manrope', sans-serif;

body {
  background-color: $Light_Grayish_Blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: $font;
  font-size: 13px;
}

.parent{
  background-color: white;
  max-width: 319px;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
//   box-shadow: 1px 1px 10px rgba(75, 75, 80, 0.562);
}

.drawer {
background: top/cover url('/images/drawers.jpg') no-repeat;
min-height: 22.8vh;
filter: brightness(110%) contrast(90%);
border-radius: .5rem .5rem 0 0;
}

main, footer{
    padding: .6rem 2rem;
}

main > *{
    margin: .5rem;
}

h3{
    color: $Very_Dark_Grayish_Blue;
}

main p{
    color: $Desaturated_Dark_Blue;
}

footer {
  display: flex;
  min-height: 6vh;
  align-items: center;
  justify-content: space-around;
  color: $Very_Dark_Grayish_Blue;
  padding: 1rem 2rem;
  


.icon {
  background: center/cover url("/images/avatar-michelle.jpg") no-repeat;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid $Light_Grayish_Blue;
 
}

.info{
    flex: 1 0;
    margin-left: 1rem;
}

.info .date{
    color: $Grayis_Blue;
}

.share-icon{
background-color: hsla(212, 23%, 69%, 0.281);
padding: .4rem;
border-radius: 1rem;
}
.share-icon:hover{
  cursor: pointer;
}

}